{include file='pub/header'/}
<title>团购列表</title>
</head>
<body class="pos-r">
<div>
    <div class="page-container">
        <div class="mt-20"><a href="javascript:;" class="r btn btn-primary radius" onclick="submitProduct()">保存</a></div>
        <div class="mt-20">
            <table class="table table-border table-bordered">
                <thead>
                <tr class="text-c">
                    <th>状态</th>
                    <th>商品名称</th>
                    <th width="200"></th>
                </tr>
                </thead>
                <tbody>
                {foreach $list as $item}
                <tr class="{$item.id} text-c" data-product='{"base_id":{$item.id}, "product_name":"{$item.product_name}", "self_limit":0, "group_limit":0, "purchase_price":0, "market_price":0,"group_price":0, "commission":0, "remain":0}'>
                    <td>
                        <input type="checkbox" class="checked-{$item.id}" onclick="checkIt(this)">
                    </td>
                    <td>
                        {$item.product_name}
                    </td>
                    <td>
                        <a href="javascript:;" class="btn btn-primary radius" data-status="1" onclick="showHistory('{$item.id}', this)">查看往期</a>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </div>
    </div>
</div>

{include file='pub/footer'/}
<script type="text/javascript">
    $("table").dataTable({
        "aLengthMenu" : [15],
        "bSort" : false,
    });
    /**
     * 开启往期商品
     * @param pid
     */
    function showHistory(pid, o){
        // $(".children-"+pid).toggle();
        var status = $(o).data("status");
        if(status == 1){
            $.post("{:url('Product/showHistory')}", {id:pid}, function(res){
                var list = res.data;
                if(list.length == 0){
                    layer.msg("暂无往期商品");
                }
                var _html = "";
                $.each(list, function(i1, v1){
                    _html += '                <tr class="'+v1.base_id+' children-'+v1.base_id+' text-c" data-product=\'{"base_id":'+v1.base_id+', "product_name":"'+v1.product_name+'", "self_limit":'+v1.self_limit+', "group_limit":'+v1.group_limit+', "purchase_price":'+v1.purchase_price+', "market_price":'+v1.market_price+',"group_price":'+v1.group_price+', "commission":'+v1.commission+', "remain":'+v1.remain+'}\'>\n' +
                        '                    <td>\n' +
                        '                        <input type="checkbox" class="checked-'+v1.base_id+'" onclick="checkIt(this)">\n' +
                        '                    </td>\n' +
                        '                    <td>\n' +
                        '                        '+v1.product_name+'\n' +
                        '                    </td>\n' +
                        '                    <td>\n' +
                        '                        市场价：'+v1.market_price+'&nbsp;\n' +
                        '                        团购价：'+v1.group_price+'\n' +
                        '                    </td>\n' +
                        '                </tr>\n';
                });
                $(o).parent().parent().after(_html);
                $(o).data("status", 0);
            });
        }else{
            $(".children-"+pid).remove();
            $(o).data("status", 1);
        }
    }

    /**
     * 选中商品
     * @param o
     */
    function checkIt(o){
        var s = $(o).prop("checked");
        var className = o.className;
        $("."+className).prop("checked", false);
        $(o).prop("checked", s);
    }

    function submitProduct(){
        var checkTr = $("input[type='checkbox']:checked");
        var product_arr = new Array();
        $.each(checkTr, function(i, v){
            var p = $(v).parent().parent().data("product");
            product_arr.push(p);
        });
        parent.saveProducts(product_arr);
        layer_close();
    }

    // /**
    //  * 加载更多商品
    //  */
    // function getMore(o){
    //     var page = $(o).data("page");
    //     $.post("{:url('Product/getHistory')}", {page:page}, function(res){
    //         var list = res.data;
    //         var _html = "";
    //         $.each(list, function(i,v){
    //             _html += '<tr class="'+v.id+' text-c">\n' +
    //                 '                    <td>\n' +
    //                 '                        <input type="checkbox" class="checked-'+v.id+'" onclick="checkIt(this)">\n' +
    //                 '                    </td>\n' +
    //                 '                    <td>\n' +
    //                 '                        '+v.product_name+'\n' +
    //                 '                    </td>\n' +
    //                 '                    <td>\n' +
    //                 '                        <a href="javascript:;" class="btn btn-primary radius" onclick="showHistory('+v.id+')">查看往期</a>\n' +
    //                 '                    </td>\n' +
    //                 '                </tr>\n';
    //             $.each(v.record_list, function(i1, v1){
    //                 _html += '                <tr class="'+v.id+' children-'+v.id+' text-c" style="display: none;">\n' +
    //                     '                    <td>\n' +
    //                     '                        <input type="checkbox" class="checked-'+v.id+'" onclick="checkIt(this)">\n' +
    //                     '                    </td>\n' +
    //                     '                    <td>\n' +
    //                     '                        '+v1.product_name+'\n' +
    //                     '                    </td>\n' +
    //                     '                    <td>\n' +
    //                     '                        市场价：'+v1.market_price+'&nbsp;\n' +
    //                     '                        团购价：'+v1.group_price+'\n' +
    //                     '                    </td>\n' +
    //                     '                </tr>\n';
    //             })
    //         });
    //         if(list.length == 10){
    //             $(o).data("page", page+1);
    //             $("tbody").append(_html);
    //         }else{
    //             $(o).removeEventListener("click");
    //             $(o).html("加载完成");
    //         }
    //     });
    // }
</script>
</body>
</html>