{include pub/header}
</head>
<body>



</body>
{include pub/footer}
<script>
    /**
     * 上传文件
     * @param o 点击元素
     * @param name 表单名称
     */
    function uploadFile(o, name) {
        var $form = document.createElement("form");
        $form.setAttribute("action", "/header/Pub/uploadFile");
        $form.setAttribute("method", "POST");
        $form.setAttribute("enctype", "multipart/form-data");
        $("body").append($form);
        var node = $(o).clone(true);
        node.attr("name", "file");
        node.appendTo($form);
        var index = layer.load();
        $($form).ajaxSubmit(function (res) {
            layer.close(index);
            if (res.code == -1) {
                layer.msg(res.msg);
            } else {
                if (res.data.type == 1) {
                    var _node = $(o).parent().parent().find("img");
                    if (_node.length == 1) {
                        _node.attr("src", res.data.url);
                    } else {
                        _node = document.createElement("img");
                        _node.style.width = "120px";
                        _node.style.height = "120px";
                        $(_node).prependTo($(o).parent().parent());
                    }
                } else if (res.data.type == 2) {
                    var _node = $(o).parent().parent().find("video");
                    if (_node.length == 1) {
                        _node.attr("src", res.data.url);
                    } else {
                        _node = document.createElement("video");
                        _node.width = 120;
                        _node.height = 120;
                        $(_node).prependTo($(o).parent().parent());
                    }
                } else {

                }
                var _input = $(o).parent().parent().find("input[name='" + name + "']");
                if (_input.length == 0) {
                    _input = document.createElement("input");
                    _input.setAttribute("type", "hidden");
                    _input.setAttribute("name", name);
                    $(o).prepend(_input);
                }
                $(_node).attr("src", res.data.url);
                $(_input).val(res.data.url);
            }
            $($form).remove();
        });
    }
</script>
</html>