{include file='pub/header'/}
<title>商品列表</title>
</head>
<body class="pos-r">
<nav class="navbar-fixed-top breadcrumb">{$breadNav} <a class="btn btn-success radius r btn-refresh" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="page-container">
        <div class="text-c">
            <form action="" method="get">
                产品名称：<input type="text" name="product_name" value="{$param.product_name || default=''}" id="" placeholder="产品名称" style="width:250px" class="input-text">
                <button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询
                </button>
            </form>
        </div>
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <span class="r">共有数据：<strong>{$totalNum}</strong> 条</span>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="100">商品名称</th>
                        <th width="100">商品描述</th>
                        <th width="100">商品总销量</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $list as $item}
                <tr class="text-c va-m">
                    <td>
                        {$item.product_name}
                    </td>
                    <td class="text-l">
                        {$item.product_desc}
                    </td>
                    <td>
                        {$item.sum_num}
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
                {$list->render()}
        </div>
    </div>

{include file='pub/footer'/}
<script type="text/javascript">
    // $('.table-sort').dataTable();
    function group_edit(group_id){
        var index = layer.open({
            type:2,
            title:'团购编辑',
            content:'{:url(\'Group/edit\')}?group_id='+group_id
        });
        layer.full(index);
    }

    function group_start(group_id){
        layer.confirm("确认开启团购？", function () {
            $.post("{:url('Group/start')}", {group_id:group_id}, function(res){
                if(res.code == 1){
                    location.reload();
                }else{
                    layer.msg(res.msg);
                }
            })
        });
    }
</script>
</body>
</html>