{include file='pub/header'/}
<title>每期销售额</title>
</head>
<body class="pos-r">
<div>
    <div class="page-container">
        <!--<div class="text-c">-->
            <!--<form action="" method="get">-->
                <!--产品名称：<input type="text" name="product_name" value="{$param.product_name || default=''}" id="" placeholder="产品名称" style="width:250px" class="input-text">-->
                <!--<button class="btn btn-success" type="submit"><i class="Hui-iconfont">&#xe665;</i> 查询-->
                <!--</button>-->
            <!--</form>-->
        <!--</div>-->
        <div class="cl pd-5 bg-1 bk-gray mt-20">
            <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px"
               href="javascript:location.replace(location.href);" title="刷新">
                <i class="Hui-iconfont">&#xe68f;</i>
            </a>
        </div>
        <div class="mt-20">
            <table class="table table-border table-bordered table-bg table-hover table-sort">
                <thead>
                    <tr class="text-c">
                        <th width="100">军团id</th>
                        <th width="100">军团名称</th>
                        <th width="100">军团公告</th>
                        <th width="100">军团状态</th>
                        <th width="100">佣金结算状态</th>
                        <th width="100">开团时间</th>
                        <th width="100">结团时间</th>
                        <th width="100">操作</th>
                    </tr>
                </thead>
                <tbody>
                {foreach $list as $item}
                <tr class="text-c va-m">
                    <td>
                        {$item.id}
                    </td>
                    <td>
                        {$item.group_title}
                    </td>
                    <td>
                        {$item.group_notice}
                    </td>
                    <td>
                        {:config('group_status')[$item.status]}
                    </td>
                    <td>
                        {if $item.commission_status eq 1}
                        已结算
                        {else}
                        未结算
                        {/if}
                    </td>
                    <td>
                        {$item.open_time}
                    </td>
                    <td>
                        {$item.close_time}
                    </td>
                    <td>
                        <button class="btn btn-primary radius size-M" type="button" onclick="checkDetail('{$item.id}')">查看销售详情</button>
                        <button class="btn btn-primary radius size-M" type="button" onclick="downGroup('{$item.id}')">下载军团销售记录</button>
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
                {$list->render()}
        </div>
    </div>
</div>

{include file='pub/footer'/}
<script type="text/javascript">
    //查看销售详情
    function checkDetail(group_id){
        var index = layer.open({
            type:2,
            title:'军团销售详情',
            content:'{:url(\'Sale/saleDetail\')}?group_id='+group_id
        });
        layer.full(index);
    }
    //下载军团销售记录
    function downGroup(group_id) {
        let iframe = document.createElement("iframe");
        iframe.setAttribute("src", "/wapp/Pub/getGroupData?group_id="+group_id);
        iframe.style.display = "none";
        $("body").append(iframe);
        setTimeout(function () {
            $(iframe).remove();
        }, 3000);
    }
</script>
</body>
</html>