<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <!--[if lt IE 9]>
    <script type="text/javascript" src="__STATIC__/lib/html5shiv.js"></script>
    <script type="text/javascript" src="__STATIC__/lib/respond.min.js"></script>
    <![endif]-->
    <link href="__STATIC__/static/h-ui/css/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/static/h-ui.admin/css/H-ui.login.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/static/h-ui.admin/css/style.css" rel="stylesheet" type="text/css"/>
    <link href="__STATIC__/lib/Hui-iconfont/1.0.8/iconfont.css" rel="stylesheet" type="text/css"/>
    <link href="/favicon.ico" rel="Shortcut Icon" type="text/css"/>
    <!--[if IE 6]>
    <script type="text/javascript" src="__STATIC__/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>登录</title>
</head>
<body>
<div class="header" style="background: #426374; color: #fff; font-size: 38px; text-indent: .5em;">{$sitename}</div>
<div class="loginWraper">
    <div id="loginform" class="loginBox">
        <form class="form form-horizontal" action="{:url('Pub/login')}" method="post">
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60d;</i></label>
                <div class="formControls col-xs-8">
                    <input id="name" name="name" type="text" placeholder="账户" class="input-text size-L" required="required" dataType="*" nullmsg="账户不能为空">
                </div>
                <div class="col-xs-3"></div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input id="password" name="password" type="password" placeholder="密码" class="input-text size-L" dataType="*5-16" nullmsg="密码不能为空">
                </div>
            </div>
            <!--<div class="row cl">-->
                <!--<div class="formControls col-xs-8 col-xs-offset-3">-->
                    <!--<input class="input-text size-L" type="text" placeholder="验证码" name="captcha"-->
                           <!--onblur="if(this.value==''){this.value='验证码:'}"-->
                           <!--onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:130px;">-->
                    <!--<img id="captcha" src="{:captcha_src()}"> <a id="kanbuq" href="javascript:;">看不清，换一张</a></div>-->
            <!--</div>-->
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value="0">
                        使我保持登录状态</label>
                </div>
            </div>
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input id="submit" name="" type="submit" class="btn btn-success radius size-L"
                           value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <input name="" type="reset" class="btn btn-default radius size-L"
                           value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright {$sitename}</div>
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.min.js"></script>-->
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/lib/Validform/5.3.2/Validform.min.js"></script>
<script>
    $(function () {
        $("#online").click(function(){
            $online = $(this).val();
            if($online == 1){
                $(this).val(0);
            }else{
                $(this).val(1);
            }
        });
        $("#kanbuq").click(function () {
            $("#captcha").attr("src", "{:captcha_src()}?t=" + new Date().getTime());
        });
        $(".form").Validform({
            btnSubmit: "#submit",
            ajaxPost: true,
            showAllError: false,
            callback: function (res, obj){
                if (res.code != 200){
                    // if (res.msg == '验证码错误!'){
                    //     $("#captcha").click();
                    //     $("[name='captcha']").val('');
                    //     $.Huimodalalert(res.msg,2000);
                    // } else {
                        $.Huimodalalert(res.msg);
                    // }
                } else {
                    $.Huimodalalert("登录成功！");
                    location.href = "{:url('Index/index')}";
                }
            }
        });
    })


</script>
</body>
</html>